@model List<OrderSituationStatus>

@{
    ViewData["Title"] = "Situação do pedido";
}

<ul class="timeline" id="timeline">
    @foreach (var orderStatus in Model)
    {
        <li class="li @((orderStatus.Concluded) ? "complete" : "")">
            <div class="timestamp">
                <span class="date">@orderStatus.Date</span>
            </div>
            <div class="status">
                <h4> @orderStatus.Situation </h4>
            </div>
        </li>
    }
</ul> 