@model List<OrderSituationStatus>

@{
    ViewData["Title"] = "Situação do pedido";
}

<ul class="timeline" id="timeline">
    @foreach (var orderStatus in Model)
    {
        <li class="li @((orderStatus.Concluded) ? "complete" : "")">
            <div class="timestamp">
                <span class="date">@((orderStatus.Date != null) ? orderStatus.Date.ToString() : "-")</span>
            </div>
            <div class="status">
                <h4 class="font-weight-light"> @orderStatus.Situation </h4>
            </div>
        </li>
    }
</ul> 