@model LojaVirtual.Models.Collaborator

@{
    ViewData["Title"] = "Editar registro";
}

<h1 class="my-4">Editar registro</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Position" />
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-secondary">Salvar</button>
    <button asp-action="Index" class="btn btn-primary">Voltar</button>
</form>