@{
    var allCategories = (List<Category>)ViewData["allCategories"];
    var fatherCategory = (Category)ViewData["fatherCategory"];

    var sonCategories = allCategories.Where(a => a.FatherCategoryId == fatherCategory.Id);
}

@if (sonCategories.Count() > 0)
{
    <li class="dropdown-submenu">
        <a class="dropdown-item" tabindex="-1" href="#">@fatherCategory.Name</a>
        <ul class="dropdown-menu">
            @foreach (var sonCategory in sonCategories)
            {
                @if (allCategories.Where(a => a.FatherCategoryId == sonCategory.Id).Count() > 0)
                {
                    ViewData.Remove("fatherCategory");

                    @await Html.PartialAsync("~/Views/Shared/Components/Menu/_Submenu.cshtml", new ViewDataDictionary(ViewData) { { "fatherCategory", sonCategory } })
                }
                else
                {
                    <li class="dropdown-item"><a href="#">@sonCategory.Name</a></li>
                }
            }
        </ul>
    </li>
}
else
{
    <li class="dropdown-item"><a href="#">@fatherCategory.Name</a></li>
}