@model List<Category>

@{ 
    var Search = Context.Request.Query["Search"];
}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"> LojaVirtual</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home mr-1"></i> Página Inicial <span class="sr-only">(current)</span></a>
            </li>
            @{
                var allCategories = Model.ToList();
            }

            @if (allCategories != null && allCategories.Count > 0)
            {
                <div class="dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-stream mr-1"></i> Categorias
                    </a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        @{
                            var mainCategories = allCategories.Where(a => a.FatherCategoryId == null).ToList();
                            ViewData["allCategories"] = allCategories;
                        }

                        @foreach (var category in mainCategories)
                        {
                            @await Html.PartialAsync("~/Views/Shared/Components/Menu/_Submenu.cshtml", new ViewDataDictionary(ViewData) { { "fatherCategory", category } })
                        }
                    </ul>
                </div>
            }
        </ul>
        <form method="get" class="form-inline my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="Search" value="@Search" placeholder="Procurando algo?" aria-label="Search">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Pesquisar</button>
            <a class="nav-link" asp-action="Contact" asp-controller="Home"><i class="fas fa-phone mr-1"></i> Fale conosco</a>
            <a class="nav-link" asp-action="Login" asp-controller="Home"><i class="fas fa-user-alt mr-1"></i> Entrar</a>
            <a class="nav-link" asp-action="Index" asp-controller="ShoppingKart"><i class="fas fa-shopping-cart mr-1"></i> Carrinho</a>
        </form>
    </div>
</nav>