<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="Loja Virtual em ASP.NET">
    <link rel="stylesheet" href="~/resources/lib/bootstrap-4.2.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/resources/lib/caroussel/carousel.css" />
    <link rel="stylesheet" href="~/resources/lib/bootstrap-ecommerce-uikit/css/ui.css" />
    <link rel="stylesheet" href="~/resources/lib/bootstrap-ecommerce-uikit/css/responsive.css" media="only screen and (max-width: 1200px)" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/resources/lib/paginator/PagedList.css" rel="stylesheet" />
    <link href="~/resources/lib/bootstrap-ecommerce-uikit/ui-ecommerce/plugins/fancybox/fancybox.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <vc:menu></vc:menu>
    </header>

    <div>
        @RenderBody()
    </div>

    <hr class="featurette-divider">

    <footer class="container">
        <div class="row">
            <div class="col-12 col-md">
                <small class="text-muted">Todos os direitos reservados.</small>
                <small class="d-block mb-3 text-muted">&copy; @DateTime.Now.Year</small>
            </div>

            <div class="col-6 col-md">
                <h5>Meus links</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="https://github.com/jvxdev">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/jvddm/">LinkedIn</a>
                </ul>
            </div>

            <div class="col-6 col-md">
                <h5>Créditos de imagem</h5>
                <ul class="list-unstyled text-small">
                    <li><a href='https://br.freepik.com/vetores/negocio'>pikisuperstar</a></li>
                    <li><a href='https://br.freepik.com/vetores/pessoas'>pch.vector</a></li>
                    <li><a href="https://storyset.com/internet">Storyset</a></li>
                </ul>
            </div>

        </div>
    </footer>

    <script src="~/resources/lib/holder/holder.min.js"></script>
    <script src="~/resources/lib/jquery3.3.1/jquery-3.3.1.min.js"></script>
    <script src="~/resources/lib/jquerymask/jquery.mask.min.js"></script>
    <script src="~/resources/lib/jquerycookie/jquery.cookie.1.4.1.js"></script>
    <script src="~/resources/lib/popper1.14.6/popper.min.js"></script>
    <script src="~/resources/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    <script src="~/resources/lib/bootstrap-ecommerce-uikit/ui-ecommerce/plugins/fancybox/fancybox.min.js"></script>
    <script src="~/js/ActionVisitor.js"></script>
</body>
</html>
