<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="Loja Virtual em ASP.NET">
    <link rel="stylesheet" href="~/resources/lib/bootstrap-4.2.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/resources/lib/caroussel/carousel.css" />
    <link rel="stylesheet" href="~/resources/lib/bootstrap-ecommerce-uikit/css/ui.css" />
    <link rel="stylesheet" href="~/resources/lib/bootstrap-ecommerce-uikit/css/responsive.css" media="only screen and (max-width: 1200px)" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/resources/lib/paginator/PagedList.css" rel="stylesheet" />
    <link href="~/resources/lib/bootstrap-ecommerce-uikit/ui-ecommerce/plugins/fancybox/fancybox.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <vc:menu></vc:menu>
    </header>

    <div>
        @RenderBody()
    </div>

    <hr class="featurette-divider">

    <footer class="container">
        <div class="row">
            <div class="col-12 col-md">
                <small class="text-muted">Todos os direitos reservados.</small>
                <small class="d-block mb-3 text-muted">&copy; @DateTime.Now.Year</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>

            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="~/resources/lib/holder/holder.min.js"></script>
    <script src="~/resources/lib/jquery3.3.1/jquery-3.3.1.min.js"></script>
    <script src="~/resources/lib/jquerymask/jquery.mask.min.js"></script>
    <script src="~/resources/lib/jquerycookie/jquery.cookie.1.4.1.js"></script>
    <script src="~/resources/lib/popper1.14.6/popper.min.js"></script>
    <script src="~/resources/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    <script src="~/resources/lib/bootstrap-ecommerce-uikit/ui-ecommerce/plugins/fancybox/fancybox.min.js"></script>
    <script src="~/js/ActionVisitor.js"></script>
</body>
</html>
