@if (ViewData["MSG_E"] != null)
{
    <p class="alert alert-danger">@ViewData["MSG_E"]</p>
}

@if (TempData["MSG_E"] != null)
{
    <p class="alert alert-danger">@TempData["MSG_E"]</p>
}

@if (ViewData["MSG_S"] != null)
{
    <p class="alert alert-success">@ViewData["MSG_S"]</p>
}

@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success">@TempData["MSG_S"]</p>
}