@model NewsletterEmail

@{
    ViewData["Title"] = "Página Inicial";
}

<main role="main">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/img/lojavirtual.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/img/lojavirtual.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/img/lojavirtual.png" alt="Third slide">
            </div>
        </div>
    </div>

    <h1 class="display-2 text-center text-dark mb-5">
        Últimos lançamentos
    </h1>

    <vc:product-list></vc:product-list>
    
</main>

@using (Html.BeginForm(null, null, null, FormMethod.Post, true, new { @action = Url.Action("Index", "Home") + "#form" }))
{
<div class="container mt-5" id="form">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            @if (TempData["MSG_S"] != null)
            {
                <p class="alert alert-success text-center">@TempData["MSG_S"]</p>
            }
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label for="email" class="font-weight-light">Cadastre seu e-mail para receber novas promoções:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <span style="color: darkred;">@Html.ValidationMessageFor(m => m.Email)</span>
            </div>
        </div>
        <div class="col-md-2 mt-2">
            <br />
            <button class="subscribe btn btn-primary btn-block" type="submit"> Cadastrar </button>
        </div>
    </div>
</div>
}