@model DeliveryAddress

@{
    ViewData["Title"] = "Atualizar endereço de entrega";
}

<form method="post">
    <main role="main">
        <section class="container" style="margin-top: 50px">
            <div class="row">
                <aside class="col-sm-6 center">
                    <div id="code_register_1">
                        <div class="card">
                            <input type="hidden" asp-for="Id">
                            <header class="card-header">
                                <h4 class="card-title mt-2 font-weight-light">Atualizar endereço</h4>
                            </header>
                            <article class="card-body">

                                @{ await Html.RenderPartialAsync("~/Views/Shared/_Message.cshtml"); }

                                <div class="form-group">
                                    <label for="addressName">Nome do endereço</label>
                                    <input type="text" asp-for="AddressName" name="addressName" data class="form-control" placeholder="Escolha um nome">
                                    <span asp-validation-for="AddressName"></span>
                                </div>
                                <div class="form-group">
                                    <label for="CEP">CEP</label>
                                    <input type="text" asp-for="CEP" name="cep" data class="form-control cep no-cep" placeholder="CEP do endereço">
                                    <span asp-validation-for="CEP"></span>
                                    <div class="alert alert-danger mt-3" style="display:none;"></div>
                                </div>
                                <div class="form-group">
                                    <label for="state">Estado</label>
                                    <input type="text" asp-for="State" name="state" data class="form-control" readonly>
                                    <span asp-validation-for="State"></span>
                                </div>
                                <div class="form-group">
                                    <label for="city">Cidade</label>
                                    <input type="text" asp-for="City" name="city" data class="form-control" readonly>
                                    <span asp-validation-for="City"></span>
                                </div>
                                <div class="form-group">
                                    <label for="neighborhood">Bairro</label>
                                    <input type="text" asp-for="Neighborhood" name="neighborhood" data class="form-control" readonly>
                                    <span asp-validation-for="Neighborhood"></span>
                                </div>
                                <div class="form-group">
                                    <label for="street">Rua</label>
                                    <input type="text" asp-for="Street" name="street" data class="form-control" readonly>
                                    <span asp-validation-for="Street"></span>
                                </div>
                                <div class="form-group">
                                    <label for="houseNumber">Número da casa/apart</label>
                                    <input type="text" asp-for="HouseNumber" name="houseNumber" data class="form-control" placeholder="O número da casa/apart">
                                    <span asp-validation-for="HouseNumber"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Salvar </button>
                                </div>
                            </article>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </main>
</form>