@model Collaborator

@{
    ViewData["Title"] = "Recuperar senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main">
    <br />
    <br />
    <section class="container my-5">
        <aside class="col-sm-5 center">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1 font-weight-light">Digite seu e-mail para recuperação de senha</h4>
                    <form method="post">

                        @{ await Html.RenderPartialAsync("~/Views/Shared/_Message.cshtml"); }

                        <div class="form-group">
                            <a class="float-right" asp-action="Login">Voltar ao login</a>
                            <label for="email">E-mail</label>
                            <input asp-for="Email" id="email" class="form-control" placeholder="exemplo@email.com" type="email" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Recuperar </button>
                        </div>
                    </form>
                </article>
            </div>
        </aside>
    </section>
</main>