@{ 
    ViewData["Title"] = "Endereço de entrega";
}

<div class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">

            <div class="text-center">
                <a href="#" class="btn btn-warning col-12 p-3" asp-area="Client" asp-controller="Home" asp-route-returnUrl="@Url.Action("DeliveryAddress", "ShoppingKart", new {  area = "" })" asp-action="RegisterDeliveryAddress">Cadastrar novo endereço</a>
            </div>
        </div>
    </div>
</div>