@{ 
    ViewData["Title"] = "Meus dados";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-user-alt mr-1"></i></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Dados pessoais</h6>
                    <p class="card-text">Altere seu e-mail e teu endereço residêncial</p>
                    <a class="card-link" asp-action="Update"> Clique aqui para alterar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-shipping-fast mr-1"></i></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Endereço de entrega</h6>
                    <p class="card-text">Cadastre, altere ou remova endereços de entrega</p>
                    <a href="#" class="card-link">Clique aqui</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-unlock-alt mr-1"></i></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Senha</h6>
                    <p class="card-text">Altere a senha da sua conta</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>