body {
}

.field-validation-error {
    margin-top: 2px;
    color: red;
    display: block;
}

div .btn-delete-image {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

div .btn-hidden {
    display:none;
}

div .right-border {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

div .left-border {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.Images div {
    width: 100%;
    text-align: center;
}

.img-thumbnail{
    border: 1px solid grey !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.Images .img-thumbnail {
    width: 100%;
}

.Images .container-thumbnail-img {
    border-radius: 4px 4px 0px 0px;
}

.input-upload {
    display: none;
}

.img-upload {
    cursor: pointer;
}

