@{
    ViewData["Title"] = "Poxa... :(";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="display-4 mt-5">503 - Servidor indisponível!</h1>

            <p class="my-4">
                <strong>O nosso servidor infelizmente está indisponível no momento! Tente novamente mais tarde!</strong>
            </p>

            <div>
                <img src="~/img/img-error-503.jpg" width="100%" alt="Error 503" />
            </div>
        </div>
    </div>
</div>