@{
    ViewData["Title"] = "Poxa... :(";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="display-4 mt-5">404 - Página não encontrada!</h1>

            <p>
                <strong>A página infelizmente não foi encontrada!</strong>
            </p>

            <a asp-controller="Home" asp-action="Index" class="btn btn-dark p-3">Clique aqui para voltar a navegar</a>

            <div>
                <img src="~/img/img-error.jpg" width="1000px" alt="Error 404" />
            </div>
        </div>
    </div>
</div>