@{
    ViewData["Title"] = "Poxa... :(";
}

<div class="container">
    <div class="row text-center">
        <div class="col-6">
            <h1 class="display-4 mt-5">403 - Acesso negado!</h1>

            <p class="my-4">
                <strong>Você não tem permissão para acessar esta página!</strong>
            </p>

            <a asp-controller="Home" asp-action="Index" class="btn btn-dark p-3">Clique aqui para voltar a navegar</a>


        </div>
        <div class="col-6 mt-5">
            <img src="~/img/img-error-403.png" width="100%" alt="Error 403" />
        </div>
    </div>
</div>