@model Order

@{
    ViewData["Title"] = "Visualizar pedido";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span>Situação</span>
            @Model.Situation

            <h3>Dados do comprador</h3>
            <h3>Informações da entrega</h3>
            <h3>Lista de produtos</h3>
        </div>
    </div>
</div>